| table_name              | constraint_name                                 | constraint_type | column_name        | foreign_table_name      | foreign_column_name | check_clause                      |
| ----------------------- | ----------------------------------------------- | --------------- | ------------------ | ----------------------- | ------------------- | --------------------------------- |
| archivos                | 2200_33796_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| archivos                | 2200_33796_2_not_null                           | CHECK           | null               | null                    | null                | orden_id IS NOT NULL              |
| archivos                | 2200_33796_4_not_null                           | CHECK           | null               | null                    | null                | nombre_archivo IS NOT NULL        |
| archivos                | 2200_33796_5_not_null                           | CHECK           | null               | null                    | null                | url_archivo IS NOT NULL           |
| archivos                | 2200_33796_6_not_null                           | CHECK           | null               | null                    | null                | tipo IS NOT NULL                  |
| archivos                | fk_archivo_orden                                | FOREIGN KEY     | orden_id           | ordenes                 | id                  | null                              |
| archivos                | fk_archivo_usuario                              | FOREIGN KEY     | usuario_id         | usuarios                | id                  | null                              |
| archivos                | archivos_pkey                                   | PRIMARY KEY     | id                 | archivos                | id                  | null                              |
| categorias_producto     | 2200_25437_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| categorias_producto     | 2200_25437_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| categorias_producto     | categorias_producto_pkey                        | PRIMARY KEY     | id                 | categorias_producto     | id                  | null                              |
| categorias_producto     | categorias_producto_nombre_key                  | UNIQUE          | nombre             | categorias_producto     | nombre              | null                              |
| clientes                | 2200_25419_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| clientes                | 2200_25419_2_not_null                           | CHECK           | null               | null                    | null                | razon_social IS NOT NULL          |
| clientes                | clientes_pkey                                   | PRIMARY KEY     | id                 | clientes                | id                  | null                              |
| colores                 | 2200_33591_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| colores                 | 2200_33591_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| colores                 | colores_pkey                                    | PRIMARY KEY     | id                 | colores                 | id                  | null                              |
| colores                 | colores_nombre_key                              | UNIQUE          | nombre             | colores                 | nombre              | null                              |
| comentarios_orden       | 2200_33816_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| comentarios_orden       | 2200_33816_2_not_null                           | CHECK           | null               | null                    | null                | orden_id IS NOT NULL              |
| comentarios_orden       | 2200_33816_3_not_null                           | CHECK           | null               | null                    | null                | usuario_id IS NOT NULL            |
| comentarios_orden       | 2200_33816_4_not_null                           | CHECK           | null               | null                    | null                | comentario IS NOT NULL            |
| comentarios_orden       | fk_comentario_orden                             | FOREIGN KEY     | orden_id           | ordenes                 | id                  | null                              |
| comentarios_orden       | fk_comentario_usuario                           | FOREIGN KEY     | usuario_id         | usuarios                | id                  | null                              |
| comentarios_orden       | comentarios_orden_pkey                          | PRIMARY KEY     | id                 | comentarios_orden       | id                  | null                              |
| consecutivos_documentos | 2200_33978_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| consecutivos_documentos | 2200_33978_2_not_null                           | CHECK           | null               | null                    | null                | tipo_documento IS NOT NULL        |
| consecutivos_documentos | 2200_33978_3_not_null                           | CHECK           | null               | null                    | null                | anio IS NOT NULL                  |
| consecutivos_documentos | 2200_33978_4_not_null                           | CHECK           | null               | null                    | null                | ultimo_numero IS NOT NULL         |
| consecutivos_documentos | consecutivos_documentos_pkey                    | PRIMARY KEY     | id                 | consecutivos_documentos | id                  | null                              |
| consecutivos_documentos | consecutivos_documentos_tipo_documento_anio_key | UNIQUE          | anio               | consecutivos_documentos | anio                | null                              |
| consecutivos_documentos | consecutivos_documentos_tipo_documento_anio_key | UNIQUE          | tipo_documento     | consecutivos_documentos | tipo_documento      | null                              |
| consecutivos_documentos | consecutivos_documentos_tipo_documento_anio_key | UNIQUE          | anio               | consecutivos_documentos | tipo_documento      | null                              |
| consecutivos_documentos | consecutivos_documentos_tipo_documento_anio_key | UNIQUE          | tipo_documento     | consecutivos_documentos | anio                | null                              |
| estados_orden           | 2200_33621_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| estados_orden           | 2200_33621_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| estados_orden           | estados_orden_pkey                              | PRIMARY KEY     | id                 | estados_orden           | id                  | null                              |
| estados_orden           | estados_orden_nombre_key                        | UNIQUE          | nombre             | estados_orden           | nombre              | null                              |
| estados_pago            | 2200_33657_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| estados_pago            | 2200_33657_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| estados_pago            | estados_pago_pkey                               | PRIMARY KEY     | id                 | estados_pago            | id                  | null                              |
| estados_pago            | estados_pago_nombre_key                         | UNIQUE          | nombre             | estados_pago            | nombre              | null                              |
| estados_produccion      | 2200_33772_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| estados_produccion      | 2200_33772_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| estados_produccion      | estados_produccion_pkey                         | PRIMARY KEY     | id                 | estados_produccion      | id                  | null                              |
| estados_produccion      | estados_produccion_nombre_key                   | UNIQUE          | nombre             | estados_produccion      | nombre              | null                              |
| historial_ordenes       | 2200_33722_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| historial_ordenes       | 2200_33722_2_not_null                           | CHECK           | null               | null                    | null                | orden_id IS NOT NULL              |
| historial_ordenes       | 2200_33722_3_not_null                           | CHECK           | null               | null                    | null                | usuario_id IS NOT NULL            |
| historial_ordenes       | fk_historial_estado_anterior                    | FOREIGN KEY     | estado_anterior_id | estados_orden           | id                  | null                              |
| historial_ordenes       | fk_historial_estado_nuevo                       | FOREIGN KEY     | estado_nuevo_id    | estados_orden           | id                  | null                              |
| historial_ordenes       | fk_historial_orden                              | FOREIGN KEY     | orden_id           | ordenes                 | id                  | null                              |
| historial_ordenes       | fk_historial_usuario                            | FOREIGN KEY     | usuario_id         | usuarios                | id                  | null                              |
| historial_ordenes       | historial_ordenes_pkey                          | PRIMARY KEY     | id                 | historial_ordenes       | id                  | null                              |
| materiales              | 2200_25447_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| materiales              | 2200_25447_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| materiales              | 2200_25447_3_not_null                           | CHECK           | null               | null                    | null                | tipo IS NOT NULL                  |
| materiales              | 2200_25447_4_not_null                           | CHECK           | null               | null                    | null                | unidad IS NOT NULL                |
| materiales              | chk_precio_material                             | CHECK           | null               | materiales              | precio_unitario     | (precio_unitario >= (0)::numeric) |
| materiales              | chk_stock_material                              | CHECK           | null               | materiales              | stock_actual        | (stock_actual >= (0)::numeric)    |
| materiales              | chk_stock_minimo                                | CHECK           | null               | materiales              | stock_minimo        | (stock_minimo >= (0)::numeric)    |
| materiales              | materiales_proveedor_id_fkey                    | FOREIGN KEY     | proveedor_id       | proveedores             | id                  | null                              |
| materiales              | materiales_pkey                                 | PRIMARY KEY     | id                 | materiales              | id                  | null                              |
| metodos_pago            | 2200_33633_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| metodos_pago            | 2200_33633_2_not_null                           | CHECK           | null               | null                    | null                | nombre IS NOT NULL                |
| metodos_pago            | metodos_pago_pkey                               | PRIMARY KEY     | id                 | metodos_pago            | id                  | null                              |
| metodos_pago            | metodos_pago_nombre_key                         | UNIQUE          | nombre             | metodos_pago            | nombre              | null                              |
| movimientos_material    | 2200_25463_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| movimientos_material    | 2200_25463_4_not_null                           | CHECK           | null               | null                    | null                | tipo_movimiento IS NOT NULL       |
| movimientos_material    | movimientos_material_material_id_fkey           | FOREIGN KEY     | material_id        | materiales              | id                  | null                              |
| movimientos_material    | movimientos_material_usuario_id_fkey            | FOREIGN KEY     | usuario_id         | usuarios                | id                  | null                              |
| movimientos_material    | movimientos_material_pkey                       | PRIMARY KEY     | id                 | movimientos_material    | id                  | null                              |
| movimientos_producto    | 2200_33752_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| movimientos_producto    | 2200_33752_2_not_null                           | CHECK           | null               | null                    | null                | variante_id IS NOT NULL           |
| movimientos_producto    | 2200_33752_4_not_null                           | CHECK           | null               | null                    | null                | tipo IS NOT NULL                  |
| movimientos_producto    | 2200_33752_5_not_null                           | CHECK           | null               | null                    | null                | cantidad IS NOT NULL              |
| movimientos_producto    | fk_movimiento_usuario                           | FOREIGN KEY     | usuario_id         | usuarios                | id                  | null                              |
| movimientos_producto    | fk_movimiento_variante                          | FOREIGN KEY     | variante_id        | variantes_producto      | id                  | null                              |
| movimientos_producto    | movimientos_producto_pkey                       | PRIMARY KEY     | id                 | movimientos_producto    | id                  | null                              |
| orden_detalles          | 2200_25547_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| orden_detalles          | 2200_25547_4_not_null                           | CHECK           | null               | null                    | null                | cantidad IS NOT NULL              |
| orden_detalles          | chk_cantidad                                    | CHECK           | null               | orden_detalles          | cantidad            | (cantidad > 0)                    |
| orden_detalles          | chk_precio_unitario                             | CHECK           | null               | orden_detalles          | precio_unitario     | (precio_unitario >= (0)::numeric) |
| orden_detalles          | fk_detalle_variante                             | FOREIGN KEY     | variante_id        | variantes_producto      | id                  | null                              |
| orden_detalles          | orden_detalles_orden_id_fkey                    | FOREIGN KEY     | orden_id           | ordenes                 | id                  | null                              |
| orden_detalles          | orden_detalles_producto_id_fkey                 | FOREIGN KEY     | producto_id        | productos               | id                  | null                              |
| orden_detalles          | orden_detalles_pkey                             | PRIMARY KEY     | id                 | orden_detalles          | id                  | null                              |
| ordenes                 | 2200_25523_1_not_null                           | CHECK           | null               | null                    | null                | id IS NOT NULL                    |
| ordenes                 | 2200_25523_2_not_null                           | CHECK           | null               | null                    | null                | folio IS NOT NULL                 |
| ordenes                 | chk_anticipo                                    | CHECK           | null               | ordenes                 | anticipo            | (anticipo >= (0)::numeric)        |
| ordenes                 | chk_descuento                                   | CHECK           | null               | ordenes                 | descuento           | (descuento >= (0)::numeric)       |
| ordenes                 | chk_subtotal                                    | CHECK           | null               | ordenes                 | subtotal            | (subtotal >= (0)::numeric)        |
| ordenes                 | chk_total                                       | CHECK           | null               | ordenes                 | total               | (total >= (0)::numeric)           |
| ordenes                 | fk_orden_estado                                 | FOREIGN KEY     | estado_id          | estados_orden           | id                  | null                              |
| ordenes                 | fk_orden_estado_pago                            | FOREIGN KEY     | estado_pago_id     | estados_pago            | id                  | null                              |
| ordenes                 | fk_orden_metodo_pago                            | FOREIGN KEY     | metodo_pago_id     | metodos_pago            | id                  | null                              |
| ordenes                 | fk_orden_tipo_venta                             | FOREIGN KEY     | tipo_venta_id      | tipos_venta             | id                  | null                              |
| ordenes                 | ordenes_cliente_id_fkey                         | FOREIGN KEY     | cliente_id         | clientes                | id                  | null                              |
| ordenes                 | ordenes_vendedor_id_fkey                        | FOREIGN KEY     | vendedor_id        | usuarios                | id                  | null                              |